__pycache__
shopping_list.txt
todo.md
*.csv
# 'Selection' is a symlink
Selection
hooks/
Rezepte.md
# Ignore files, directories and links
*.pdf
pdf/
defaults.ini
recipes/
misc/
build/
grocery_shopper.egg-info/
*.vim
dist/
.venv/
.archive/
*.tar*
