__pycache__
shopping_list.txt
todo.md
*.csv
*.yaml
# 'Selection' is a symlink
Selection
hooks/
2024/
Rezepte.md
out/
out/
# Ignore files, directories and links
*.pdf
pdf
defaults.ini
recipes/
res/
misc/
build/
grocery_shopper.egg-info/
*.vim
